<div role="rowgroup" class="ui-grid-header">
  <div class="ui-grid-top-panel">
    <div class="ui-grid-header-viewport">
      <div class="ui-grid-header-canvas">
        <div class="ui-grid-header-cell-wrapper" ng-style="colContainer.headerCellWrapperStyle()">
          <div role="row" class="ui-grid-header-cell-row">
            <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-category" ng-repeat="cat in grid.options.categorp" ng-if="cat.visible && (colContainer.renderedColumns | filter:{ colDef:{category: cat.name} }).length > 0">
              {{cat.displayName}}
              <div class="ui-grid-header-cell ui-grid-clearfix ui-grid-category" ng-repeat="subcat in grid.options.subcategory" ng-if="subcat.visible && (colContainer.renderedColumns | filter:{ colDef:{category: cat.name, subcategory: subcat.name} }).length > 0">
                {{subcat.displayName}}
                <div class="ui-grid-header-cell ui-grid-clearfix categoryheadercell"
                     ng-repeat="col in colContainer.renderedColumns | filter:{ colDef:{category: cat.name, subcategory: subcat.name} }"
                     ui-grid-header-cell
                     col="col"
                     render-index="$index">
                </div>
              </div><!--!cat.visible && -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
