<html>
<head>
    <script src="angular.min.js"></script>
    <script src="ag-grid-enterprise.js"></script>
    <script src="examplePivotMode.js"></script>
</head>
<body ng-app="example" ng-controller="exampleCtrl">
    <div style="padding-top: 20px; box-sizing: border-box;">
        <!-- <div ag-grid="gridOptions" class="ag-fresh"></div> -->
    </div>
    <div style="padding: 4px; padding-left: 10px; position: absolute; top: 0px; left: 0px;">
        <button ng-click="onBtPivotMode()">2 - Grouping Active with Pivot Mode</button>
    </div>
    <pre ng-bind="gridOptions | json"></pre>
</body>
</html>