<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
<div class="wrapper" ng-app="testApp" ng-controller="treeTable">
  <table class="table-nested">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th class="cell-members">
          Members
        </th>
        <th>
          Title
        </th>
      </tr>
    </thead>
    <tbody ng-class="{opened: item.opened}" ng-include="&#39;table_tree.html&#39;" ng-repeat="item in list"></tbody>
  </table>
  <script id="table_tree.html" type="text/ng-template">
    <tr ng-class="{parent: item.children}" ng-init="parentScope = $parent.$parent;">
      <td class="cell-name" ng-click="item.opened = !item.opened">
        <div class="indent" style="padding-left: {{15*level}}px"></div>
        {{item.name}}
      </td>
      <td class="cell-members">
        {{item.children.length}}
      </td>
      <td>
        {{item.title}}
      </td>
    </tr>
    <tr class="children" ng-if="item.children &amp;&amp; item.children.length &gt; 0">
      <td colspan="3">
        <table>
          <tbody ng-class="{opened: item.opened}" ng-include="&#39;table_tree.html&#39;" ng-init="level = level + 1" ng-repeat="item in item.children"></tbody>
        </table>
      </td>
    </tr>
  </script>
</div>
</body>
</html>
