<!DOCTYPE html>
<html ng-app="plunker">
  <head>
    <meta charset="utf-8" />
    <title>Angular-nvD3 Line Chart</title>
      <link rel="stylesheet" href="nv.d3.min.css"/>
      <link rel="stylesheet" href="bootstrap.css"/>
      <script src="angular.min.js"></script>
      <script src="jquery-1.11.0.min.js"></script>
      <script src="bootstrap.js"></script>
      <script src="d3.min.js"></script>
      <script src="nv.d3.min.js"></script>
      <script src="angular-nvd3.js"></script>
      <script src="app.js"></script>
      <script src="main.js"></script>
      <script src="nvd3_ChartService.js"></script>
      <style type="text/css">
       .nv-series:nth-child(1){ transform: translate(0, 0); }
      .nv-series:nth-child(2){ transform: translate(0, 20px); }
      .nv-series:nth-child(3){ transform: translate(0, 40px); }
      .nv-series:nth-child(4){ transform: translate(0, 60px); }
      .nv-series:nth-child(5){ transform: translate(0, 80px); }
      .nv-series:nth-child(6){ transform: translate(0, 100px); }
      .nv-series:nth-child(7){ transform: translate(0, 120px); }

      .nv-legend{ transform: translate(350px, 100px); }
      </style>
  </head>
  <body ng-controller="MainCtrl">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-click="test()" role="presentation"><a href="#line_chart" aria-controls="line_chart" role="tab" data-toggle="tab">Line Chart</a></li>
      <li ng-click="test()" role="presentation"  class="active"><a href="#scatter_chart" aria-controls="scatter_chart" role="tab" data-toggle="tab">Scatter Chart</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="line_chart">
        <!-- <nvd3 options="line_chart.options" data="line_chart.data" api="api" class="with-3d-shadow with-transitions"></nvd3> -->
      </div>

      <div role="tabpanel" class="tab-pane active" id="scatter_chart">
        <!-- <nvd3 options="pie_chart.options" data="pie_chart.data" api="api" class="with-3d-shadow with-transitions"></nvd3> -->
        <div class="cluster-info" ng-repeat="km in csv_data.km_data">
          <div class="row">
            <div class="col-md-12">
              <div class="box">
                <header>
                  <h5>Cluster #{{km.cluster}} - Size {{km.size}} items</h5>
                  <a href="#" ng-show="km.sample_data" ng-click="show_sample_data($event,km)" class="btn btn-default pull-right">Sample Data</a>
                </header>
                <div class="body">
                  <nvd3 options="km.pie_chart.options" data="km.pie_chart.data" api="api" class="with-3d-shadow with-transitions"></nvd3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pre ng-bind="csv_data | json"></pre>
      </div>
    </div>
  </body>
</html>
